body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    min-height: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    background-color: #F1F1F1;
}

header > h2 {
    margin-left: auto;
    margin-right: -3rem;
    font-size: 1.5rem;
}

.button-darkmode {
    margin-left: auto;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}

.button-darkmode:hover {
    background-image: linear-gradient(144deg,#9735dd, #503bd6 50%,#00b5c2);
}

.button-darkmode:active {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

.main-wrapper {
    display: flex;
    justify-content: center;
}

main {
    min-width: 80vw;
    max-width: 80vw;
    min-height: calc(100vh - 18.25vh);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stack-info {
    display: flex;
    gap: 2vw;
    border-style: solid;
    border-width: 3px;
    border-image: linear-gradient(90deg, #d367c1 10%, #dedf40 25%, #62cb5c 50%, #00bbcb 75%, #ab79d6 90%) 0 0 1 0;
}

.html {
    display: flex;
    align-items: flex-end;
}

.html::before {
    display: inline-block;
    content: '';
    background: url(../img/icons/icons8-html-5-48.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.css {
    display: flex;
    align-items: flex-end;
}

.css::before {
    display: inline-block;
    content: '';
    background: url(../img/icons/icons8-css3-48.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

.js {
    display: flex;
    align-items: flex-end;
}

.js::before {
    display: inline-block;
    content: '';
    background: url(../img/icons/icons8-javascript-48.png);
    background-size: 24px 24px;
    width: 24px;
    height: 24px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-top: 1px solid lightgrey;
    height: 9vh;
    background-color: #F1F1F1;
}

.github-icon {
    width: 26px;
    height: 26px;
    transition: all 0.5s ease-in-out;
}

.github-icon:hover {
    transform: rotate(360deg) scale(1.1);
}