body {
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

header > h2 {
    margin-left: auto;
    margin-right: -3rem;
    font-size: 1.5rem;
}

.button-darkmode {
    margin-left: auto;
    margin-right: 1rem;
    width: 2rem;
    height: 2rem;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

.button-darkmode:hover {
    background-image: linear-gradient(144deg,#9735dd, #503bd6 50%,#00b5c2);
}

.button-darkmode:active {
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-top: 1px solid lightgrey;
    height: 8vh;
}
